@import url("./satoshi.css");

:root {
    --purple: #B89FD7;
    --dark: #2E2E2E;
    --green: #BED79F;
    --blue: #9FD7D4;
    --redish: #D79FA2;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Satoshi-Variable';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

section {
    min-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    z-index: 10;
    position: static;
}

ion-icon {
    font-size: 3rem;
}


button {
    cursor: pointer;
}

.current__tab {
    color: var(--purple);
}



/* NAVIGATION */

nav {
    /* 4.8rem in Figma */
    margin-bottom: 3vh;
    height: 6vh;
    padding-bottom: 1vh;
}


.row,
.work__row {
    width: min(90vw, 2560px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4px;
}

.row__main {
    justify-content: flex-start;
    margin-top: 5rem;
}

.row__projects {
    flex-basis: 50%;
    gap: 4rem;
}


.nav__logo {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--purple);
}

.nav__links {
    font-size: 2rem;
    font-weight: 500;
    color: var(--dark);
    align-content: center;
}

.nav__link {
    text-decoration: none;
    position: relative;
    transition: all 0.1s ease-out;
}

.nav__link:not(:last-child) {
    margin-right: 6rem;
}

.nav__link:visited,
.nav__link:link {
    color: var(--dark);
}

.nav__link:focus,
.nav__link:hover {
    color: var(--purple);
}

.nav__link:focus::after,
.nav__link:hover::after {
    color: var(--purple);
    border-bottom: solid 2px var(--purple);
    position: absolute;
    content: '';
    left: 0%;
    right: 0%;
    bottom: -10%;
    border: 1px solid var(--purple);
    width: 100%;
}


/* MOBILE NAV */


.mobile__menu,
.mobile__menu--close {
    display: none;
    background-color: transparent;
    border: none;
    text-align: center;
}

.mobile__menu>a>.ion-icon {
    font-size: 3.6rem;
    font-weight: 700;
}

.mobile__backdrop {
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}

.menu--open .mobile__backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu--open {
    height: 100vh;
    overflow-y: hidden;
}


.mobile__menu--close>a>ion-icon {
    font-size: 4.2rem;
    font-weight: 700;
}

.mobile__menu--content {
    text-align: center;
    list-style: none;
}

.mobile__link a {
    text-decoration: none;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 2;
    list-style-type: none;
}

.mobile__link a:hover,
.mobile__link a:focus {
    text-decoration: none;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 2;
    list-style-type: none;
}

.mobile__menu--social {
    padding-top: max(5%, 5rem);
    color: var(--dark);
}

.mobile__menu--social a ion-icon {
    font-size: 4rem;
}

.mobile__menu--social a:not(:last-child) {
    margin-right: 2rem;
}

.mobile__link a:visited,
.mobile__link a:link,
.mobile__menu--social a:visited,
.mobile__menu--social a:visited {
    color: var(--dark);
}

.mobile__link a:focus,
.mobile__link a:hover,
.mobile__menu--social a:hover,
.mobile__menu--social a:focus {
    color: var(--purple);
}

.nav__link:focus::after,
.nav__link:hover::after {
    color: var(--purple);
    border-bottom: solid 2px var(--purple);
    position: absolute;
    content: '';
    left: 0%;
    right: 0%;
    bottom: -10%;
    border: 1px solid var(--purple);
    width: 100%;
}

.social_xl {
    font-size: 4rem;
}

/* HERO */


.main__hero,
.row__wrapping h1 {
    width: min(80%, 664px);
    font-size: 3.4rem;
    font-weight: 500;
    padding-bottom: 3rem;
}

.main__project {
    flex-basis: 50%;
    overflow: hidden;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.project__img {
    width: 100%;
}

.main__project h2,
.work__project h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.main__project p,
.work__project p,
.row__wrapping p,
.page__headingText p,
.row__project p {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.button__project {

    font-family: 'Satoshi-Variable';
    background: transparent;
    border: none;
    color: var(--dark);
    font-size: 1.6rem;
    font-weight: 900;
}

.top__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(1.4rem, 1.297rem + 0.350vw, 2.2rem);
    font-weight: 900;
    transition: all 0.2 ease-in;
}

.backToProjects a {
    text-decoration: none;
    color: var(--dark);
}

.backToProjects a:hover,
.backToProjects a:active {
    text-decoration: none;
    color: var(--purple);
}


/* WORK */


#work {
    margin-top: 4rem;
    max-height: 100%;
}

.row__work {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: flex-start;
}

.work__row {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.work__row h1 {
    font-size: 3.4rem;
    font-weight: 700;
    padding-bottom: 1rem;
    width: min(100%, 70rem);
}

.work__row p {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 4rem;
    width: min(100%, 80rem);
}

.work__project {
    width: 100%;
    overflow: hidden;
    padding-bottom: 4rem;
    transform: translateZ(0);
    transition: all 0.3s ease-in-out;
}

.work__project:hover {
    scale: 1.02;
}



.work__project h1 {
    font-size: 2.6rem;
}

figure {
    margin-bottom: 1rem;
}

.work__project button:hover {
    color: var(--purple)
}

@media screen and (max-width: 1300px) {
    .row__work {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .row__work {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .row__work {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* RESUME */


.row__column {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    height: 100%;
}

.resume__wrap {
    width: min(90vw, 2560px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4px;
}

.resume__text {
    align-items: center;
}

.row__column h1 {
    font-size: 2.6rem;
    font-weight: 700;
}


.resume__text h1 {
    width: min(80%, 864px);
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 4rem;
}

.resume__button {
    width: 35rem;
    font-size: 2.6rem;
    font-weight: 500;
    font-family: 'Satoshi-Variable';
    padding: 1.5rem 2rem;
    border: none;
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
    transition: all 0.1s ease-in;
}

.resume__button:hover {
    background-color: white;
    color: var(--purple);
    outline: 5px solid var(--purple)
}

.resume__skills {
    line-height: 1.4;
    gap: 1rem;
    align-items: flex-start;
}

.resume__breakdown {
    max-width: 20%;
}

.smaller {
    width: 10%;
}

.resume__languages {
    margin-top: 2rem;
    width: 100%;
}

.resume__breakdown h2 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
}

.resume__breakdown p,
.row__column p {
    font-size: 1.6rem;
    font-weight: 500;
}

.resume__breakdown hr {
    height: 0.5px;
    width: 10%;
    margin: 5px;
    color: var(--purple);
}


@media screen and (max-width: 900px) {

    .row__projects {
        flex-direction: column;
    }

    .nav__links {
        display: none;
    }

    .mobile__menu {
        display: flex;
    }

    .mobile__menu--close {
        position: absolute;
        display: flex;
        right: 5%;
        top: 2%;
        z-index: 20;
    }

    .work__project {
        flex-wrap: wrap;
        margin-bottom: 4rem;
        min-width: 35%;
    }

    .resume__skills {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .resume__wrap {
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .resume__breakdown {
        min-width: 100%;
    }

    .resume__text h1 {
        width: 100%;
    }
}

/* PROJECTS */

.row__project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: min(90vw, 2560px);
    max-height: 70%;
    padding: 0 4px;
}

.row__project h1 {
    font-size: 2.4rem;
    margin: 5rem 0 2.5rem 0;
}

.row__project p {
    font-size: 1.6rem;
}

.calendar__holder--big {
    display: flex;
    justify-content: center;
    flex-basis: 30%;
    gap: 2rem;
    width: 100%
}

.calendar__30 {
    width: 26%;
    height: min(80%, 80rem);
}

.calendar__50 {
    width: 49%;
    height: min(80%, 80rem);
}

.calendar__30 .hero__img {
    width: 100%;
    object-fit: fill;
}

.calendar__50 .hero__img {
    width: 100%;
    object-fit: fill;
}

.images__holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 2rem;
    margin-top: 5rem;
}

.images__holder img {
    width: 100%;
}


/* SHIRTS */

#shirts,
#wrapping {
    width: min(90vw, 2560px);
    display: flex;
    margin: 0 auto;
}

.row__tshirts,
.row__wrapping {
    width: 100%;
    padding: 0 4px;
}

.row__tshirts h1,
.row__wrapping h1 {
    font-size: 2.6rem;
    font-weight: 700;
    padding: 4rem 0 2rem 0;
}

.row__tshirts p,
.row__wrapping p {
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 5rem;
}

.tshirts__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thsirt__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
}


.tshirt__wrapper--small {
    width: 40%;
}

.tshirt__wrapper--big {
    width: 60%;
}

.tshirt__img--small {
    width: 80%;
}

.tshirt__wrapper--small {
    text-align: center;
}

.tshirt__img--big {
    width: 100%;
}

.sliven {
    width: 50.5%;
    text-align: left;
}

.scaled {
    width: 40%;
}

@media screen and (max-width: 700px) {
    .tshirt__wrapper--small {
        width: 100%;
    }

    .tshirt__wrapper--big {
        width: 100%;
    }

    .thsirt__wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }

    .sliven {
        text-align: center;
    }
}


/* WRAPPING PAPER */

.wrapping__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}


figure img {
    width: 100%;
}


/* ODESOS */

main {
    width: 90vw;
    height: max(70%, 80rem);
    margin: 0 auto;
    padding: 0 4px;
}

.row__new {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: min(70%, 80rem);
    width: 100%;
    margin: 0 auto;
}

.projects__wrapper--column {
    display: flex;
    flex-direction: column;
    /* margin-top: 6rem; */
}

.two__projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 50%;
    min-width: 100%;
    max-height: 100%;
    text-align: center;
    margin-bottom: 6rem;
}

.project__left {
    width: 50%;
    text-align: left;
}

.project__right {
    width: 50%;
    display: flex;
}

.project__right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.project__left a img,
.project__right a img {
    width: 80%;
}

.onethird {
    width: 40%;
    text-align: center;
}

.twothirds {
    width: 60%;
}

.full {
    width: 100%;
    align-items: center;
    display: grid;
}

.project__left--full {
    height: 100%;
    display: flex;
    padding-bottom: 3rem;
    text-align: left;
}

.project__right--full {
    height: 100%;
    display: flex;
    text-align: left;
}

.project__left--full a img,
.project__right--full a img {
    width: 80%;
}

.new__text {
    margin-bottom: 6rem;
}

.new__text h1 {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.new__text p {
    font-size: 1.6rem;
    font-weight: 500;
    width: min(100%, 55vw);
}

@media screen and (max-width: 840px) {

    .project__left--full,
    .project__right--full,
    .project__left,
    .project__right,
    .two__projects,
    .full {
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 2rem;
    }


}


/* DRAWINGS */

.row__drawings {
    width: min(100%, 2560px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 4px;
    margin-bottom: 4rem;
}

.grid__columns {
    width: 100%;
    display: grid;
    grid-template-columns: 7.5fr 1.395fr;
    gap: 2rem;
}

.grid__columns a img {
    width: 100%;
}


@media screen and (max-width: 700px) {

    .grid__columns {
        display: flex;
        flex-direction: column;
    }

    .grid__column a img {
        margin-bottom: 2rem;
    }

}


/* BAG */

#bag {
    height: 82vh;
}

.row__bags {
    width: 100%;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    gap: 2vh;
}

.bags__text {
    width: 100%;
}

.row__bag {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
}

.bags__text h1 {
    font-size: 3vh;
    font-weight: 700;
    margin-bottom: 1vh;
}

.bags__text p {
    font-size: 1.8vh;
    font-weight: 500;
    width: min(100%, 55vw);
    margin-bottom: 3vh;
}

.bag__left,
.bag__right {
    width: 100%;
    object-fit: contain;
    text-align: center;

}

.bag__left a img {
    width: min(100%, 20vw)
}

.bag__right a img {
    width: min(100%, 45vw);
}

.full__img--bag img {
    width: min(100%, 90vw);
}

@media screen and (max-width: 800px) {

    #bag {
        height: 100%;
    }

    .full {
        display: none;
    }

    .row__bag {
        flex-direction: column;
    }

    .bag__left a img,
    .bag__right a img {
        width: 100%;
        height: 100%;
    }

    .bags__text p {
        width: min(100%, 55vw);
    }

    .footer__logo {
        display: none;
    }

}


/* FOOTER */

footer {
    justify-self: flex-end;
    border-top: 1px solid var(--purple);
    background-color: white;
    margin-top: auto;
}

.footer__wrapper {
    width: min(90vw, 2560px);
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 4px;
    transition: all 0.2s ease-in;
}

.footer__item {
    display: flex;
}

.footer__item h3 {
    margin-right: 3rem;
    font-size: clamp(1.3rem, 1.269rem + 0.129vw, 1.6rem);
    font-weight: 700;
}

.footer__item a {
    margin-right: 3rem;
    font-size: clamp(1.3rem, 1.269rem + 0.129vw, 1.6rem);
    font-weight: 500;
}

.footer__logo h2 {
    font-size: clamp(1.3rem, 1.269rem + 0.129vw, 1.6rem);
    font-weight: 700;
}

.footer__item a:link,
.footer__item a:visited {
    color: var(--dark);
    text-decoration: none;
}

.footer__item a:hover,
.footer__item a:active {
    color: var(--purple);
    text-decoration: none;

}

@media screen and (max-width: 900px) {

    .footer__connect {
        display: none;
    }
}


/* CONTACT */

.contacts__email {
    margin-bottom: 5vh;
}

.contacts__email a {
    text-decoration: none;
    color: var(--purple);
}

.contacts__email a:hover {
    color: #937fac;
}

.contacts__email h1 {
    font-size: clamp(2.6rem, 2.434rem + 0.69vw, 4.2rem);
    margin-bottom: 7vh;
}

.contacts__wrapper--page h2 {
    font-size: clamp(2rem, 1.876rem + 0.517vw, 3.2rem);
    font-weight: 500;
    margin-bottom: 1.5vh;
}

.contacts__wrapper--page a {
    margin-bottom: 3vh;
    font-size: clamp(2rem, 1.876rem + 0.517vw, 3.2rem);
}

.contacts__email ion-icon {
    font-size: 5vh;
}

.contacts__wrapper--page {
    font-size: 1.2vw;
}

.active__link {
    color: var(--purple);
}


/* VIDEO */

.video {
    display: flex;
    width: min(100%, 256rem);
    justify-content: center;
}

video {
    width: min(100%, 127rem);
    height: min(100%, 108rem);
}

@media screen and (max-width: 900px) {

    .video {
        margin-top: 15%;
    }
}


/* BUTTON TO TOP */

.go-top-btn {
    display: none;
    position: fixed;
    bottom: 7vh;
    right: 30px;
    z-index: 1000;
    border: none;
    outline: none;
    background-color: var(--purple);
    color: var(--dark);
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 50%;
    font-size: 18px;
}

.go-top-btn:hover {
    background-color: #2E2E2E;
    color: var(--purple);
}

.go-top-btn ion-icon {
    font-size: 4rem;
}